
* {
  margin: 0;
  padding: 0;
  /* border: solid green 1px; */
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* ENTIRE APP || THE BODY ENCAPSULATES IT */
body {
  background-color: rgb(0, 0, 0);
  font-family: Alumni Sans Inline One;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.App {
  text-align: center;
  color: violet;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* ============================== I N T R O */
/* GIF IMAGE SITS IN BACKGROUND AND COVERS PAGE WITH 100% OF VIEWPORT HEIGHT SET */
.introduction {
  background-image: url('https://64.media.tumblr.com/2dd92540920d62ab429ddcd1e2275280/64b60fa04abbc797-b1/s400x600/e309828d2c422123ba766703a336774a6034270e.gif');
  background-position: center;
  background-size: cover;
  height: 100vh;  
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* =================== N A V I G A T I O N  */

.nav ul {
  
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: rgb(26, 26, 26);
  
}
.nav ul li {
  display: inline;
  border-right: 2px solid pink;
}
.nav ul li:last-child {
  border-right: none;
}
.nav ul li a {
  width: 95px;  
  color: yellow;
  text-shadow: 10px;
  padding: 20px;
}
.nav ul li a:hover {
  background-color: rgba(255, 161, 161, 0.474);
  border-radius: 5%;
  box-shadow: 3px 3px white;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* =============================== H O M E  */
.home-choices-background {

  background-position: center;
  background-size: cover;  
  
  width: 110vw;
  height: 110vh;

  
}

.home-choices {
  /* background-color: green; */
  height: 100%;
  width: 99%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  justify-items: center;
  /* align-items: start; */
  
}
      .home-choices button {  
        
        font-family: 'Alumni Sans Inline One', cursive;
        font-size: 3em;
        padding: 20pt;  
        /* flex: 1; */
      }
          .h-c-1 {
            
            margin-top: 100%;
            background-color: rgba(64, 255, 0, 0.527);
            margin-left: 10pt;
            border-radius: 10%;
          }
          .h-c-1:hover {
            box-shadow: 1pt 1pt 15pt rgba(255, 0, 162, 0.494);  
            background-color: rgb(0, 22, 0);
            color:rgb(255, 0, 162)
          }
          .h-c-2 {
            /* padding-top: 400em; */
            margin-top: 100%;
            background-color: rgba(0, 183, 255, 0.527);
            margin-left: 10pt;
            border-radius: 30%;
            box-shadow: inset 15pt 15pt rgb(89, 85, 128), 
                        5pt 5pt rgba(255, 255, 0, 0.336);              
          }
          .h-c-2:hover {
            box-shadow: 1pt 1pt 15pt rgba(255, 0, 162, 0.494);
            background-color: black;
            color: orange;
          }
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* =============================== C O D E  */
.code-choice-container {
  
  height: 50vh;
  width: 80vw;
  margin: auto;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
    .c-c-1 button {
      font-family: 'Alumni Sans Inline One', cursive;
      font-size: 2em;
      background-color: rgba(64, 255, 0, 0.527);
      padding: 50px;
      border-radius: 20%;

        /* place-self: right; */
      }
      
      .c-c-2 button {
        font-family: 'Alumni Sans Inline One', cursive;
        font-size: 5em;
        background-color: rgba(64, 255, 0, 0.527);
        padding: 50px;
        border-radius: 20%;

        /* place-self: center; */
      }

                
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* =============================== B L O G  */
.b-container {
  /* color: green;   */
  /* margin-left: 250px; */
  /* margin-right: 250px; */
}
.b-menu {
  margin-left: 150pt;
  margin-right: 150pt;
  /* border: solid green 10px; */
  /* padding-bottom: 5%; */
  background-color: rgba(111, 111, 111, 0.092);

  /* display: grid; */
  /* grid-template-columns: 1fr; */
 
}
.b-menu-item {
  border: solid green 2px;
  padding: 20px;
  list-style-type: none;
  /* gap: 20px 20px 20px; */
  font-family: "Lucida Console", "Courier New", monospace;


}
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.b-post-container {
  /* color: yellow; */
  background-color: rgba(111, 111, 111, 0.092)
}
    .b-post-heading {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50pt;
      margin-left: 20pt;
      margin-right: 20pt;
      margin: 20pt 20pt 20pt 20pt;
      padding-top: 20pt;
    }
              .b-post-image {
                height: 50vh;  
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                
                
              }  
              .b-post-title {
                font-size: 40pt;
                letter-spacing: 10pt;
                color: skyblue;
                text-shadow: 1pt 1pt rgb(247, 0, 0);
                text-align: left;                
                align-self: center;
               
                
              }
      .b-post-content {
        font-family: 'Courier New', Courier, monospace;
      border: solid purple 5px;
    }
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* =============================== A R T  */
.gallery {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
}

.gallery h1 {
  text-align: center;
  color: #223055;
  padding: 0 1rem;
  margin-bottom: .5rem;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 2em;
  grid-auto-flow: row dense;
  

}

.gallery-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */